body {

}

#content {
    font-family: sans-serif;
    width: 350px;
    margin: 100px auto;
    color: #5c2f2f;
}

h1 {
    color: #5c2f2f;
}

#guessArea {
    margin: 0 0 15px 0;
}

#answerArea {
}


.Error {
    color: red;
    font-size: 15px;
}